/**
 * @license
 * MyFonts Webfont Build ID 3232986, 2016-06-14T16:03:36-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Adelle-Bold by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/bold/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-BoldItalic by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/bold-italic/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-ExtraBold by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/extra-bold/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-ExtraBoldItalic by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/extra-bold-italic/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-Heavy by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/heavy/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-HeavyItalic by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/heavy-italic/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-Italic by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/italic/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-Light by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/light/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-LightItalic by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/light-italic/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-Regular by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/regular/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-SemiBold by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/semi-bold/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-SemiBoldItalic by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/semi-bold-italic/
 * Copyright: Copyright (c) 2009 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-Thin by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/thin/
 * Copyright: Copyright (c) 2010 by TypeTogether. All rights reserved.
 * 
 * Webfont: Adelle-ThinItalic by TypeTogether
 * URL: http://www.myfonts.com/fonts/type-together/adelle/thin-italic/
 * Copyright: Copyright (c) 2010 by TypeTogether. All rights reserved.
 * 
 * Webfont: UniversLTStd-LightObl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/45-light-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: UniversLTStd-Black by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/75-black/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1999, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1999, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: UniversLTStd-BoldObl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/65-bold-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: UniversLTStd-Bold by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/65-bold/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: UniversLTStd by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/55-roman/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: UniversLTStd-BlackObl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/76-black-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1999, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1999, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: UniversLTStd-Obl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/55-oblique/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * Webfont: UniversLTStd-Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/45-light/
 * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3232986
 * Licensed pageviews: 250,000
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3154da");

  
@font-face {font-family: 'Adelle-Bold';src: url('webfonts/3154DA_0_0.eot');src: url('webfonts/3154DA_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_0_0.woff2') format('woff2'),url('webfonts/3154DA_0_0.woff') format('woff'),url('webfonts/3154DA_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-BoldItalic';src: url('webfonts/3154DA_1_0.eot');src: url('webfonts/3154DA_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_1_0.woff2') format('woff2'),url('webfonts/3154DA_1_0.woff') format('woff'),url('webfonts/3154DA_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-ExtraBold';src: url('webfonts/3154DA_2_0.eot');src: url('webfonts/3154DA_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_2_0.woff2') format('woff2'),url('webfonts/3154DA_2_0.woff') format('woff'),url('webfonts/3154DA_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-ExtraBoldItalic';src: url('webfonts/3154DA_3_0.eot');src: url('webfonts/3154DA_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_3_0.woff2') format('woff2'),url('webfonts/3154DA_3_0.woff') format('woff'),url('webfonts/3154DA_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-Heavy';src: url('webfonts/3154DA_4_0.eot');src: url('webfonts/3154DA_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_4_0.woff2') format('woff2'),url('webfonts/3154DA_4_0.woff') format('woff'),url('webfonts/3154DA_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-HeavyItalic';src: url('webfonts/3154DA_5_0.eot');src: url('webfonts/3154DA_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_5_0.woff2') format('woff2'),url('webfonts/3154DA_5_0.woff') format('woff'),url('webfonts/3154DA_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-Italic';src: url('webfonts/3154DA_6_0.eot');src: url('webfonts/3154DA_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_6_0.woff2') format('woff2'),url('webfonts/3154DA_6_0.woff') format('woff'),url('webfonts/3154DA_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-Light';src: url('webfonts/3154DA_7_0.eot');src: url('webfonts/3154DA_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_7_0.woff2') format('woff2'),url('webfonts/3154DA_7_0.woff') format('woff'),url('webfonts/3154DA_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-LightItalic';src: url('webfonts/3154DA_8_0.eot');src: url('webfonts/3154DA_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_8_0.woff2') format('woff2'),url('webfonts/3154DA_8_0.woff') format('woff'),url('webfonts/3154DA_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-Regular';src: url('webfonts/3154DA_9_0.eot');src: url('webfonts/3154DA_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_9_0.woff2') format('woff2'),url('webfonts/3154DA_9_0.woff') format('woff'),url('webfonts/3154DA_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-SemiBold';src: url('webfonts/3154DA_A_0.eot');src: url('webfonts/3154DA_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_A_0.woff2') format('woff2'),url('webfonts/3154DA_A_0.woff') format('woff'),url('webfonts/3154DA_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-SemiBoldItalic';src: url('webfonts/3154DA_B_0.eot');src: url('webfonts/3154DA_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_B_0.woff2') format('woff2'),url('webfonts/3154DA_B_0.woff') format('woff'),url('webfonts/3154DA_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-Thin';src: url('webfonts/3154DA_C_0.eot');src: url('webfonts/3154DA_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_C_0.woff2') format('woff2'),url('webfonts/3154DA_C_0.woff') format('woff'),url('webfonts/3154DA_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Adelle-ThinItalic';src: url('webfonts/3154DA_D_0.eot');src: url('webfonts/3154DA_D_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_D_0.woff2') format('woff2'),url('webfonts/3154DA_D_0.woff') format('woff'),url('webfonts/3154DA_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd-LightObl';src: url('webfonts/3154DA_E_0.eot');src: url('webfonts/3154DA_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_E_0.woff2') format('woff2'),url('webfonts/3154DA_E_0.woff') format('woff'),url('webfonts/3154DA_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd-Black';src: url('webfonts/3154DA_F_0.eot');src: url('webfonts/3154DA_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_F_0.woff2') format('woff2'),url('webfonts/3154DA_F_0.woff') format('woff'),url('webfonts/3154DA_F_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd-BoldObl';src: url('webfonts/3154DA_10_0.eot');src: url('webfonts/3154DA_10_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_10_0.woff2') format('woff2'),url('webfonts/3154DA_10_0.woff') format('woff'),url('webfonts/3154DA_10_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd-Bold';src: url('webfonts/3154DA_11_0.eot');src: url('webfonts/3154DA_11_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_11_0.woff2') format('woff2'),url('webfonts/3154DA_11_0.woff') format('woff'),url('webfonts/3154DA_11_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd';src: url('webfonts/3154DA_12_0.eot');src: url('webfonts/3154DA_12_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_12_0.woff2') format('woff2'),url('webfonts/3154DA_12_0.woff') format('woff'),url('webfonts/3154DA_12_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd-BlackObl';src: url('webfonts/3154DA_13_0.eot');src: url('webfonts/3154DA_13_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_13_0.woff2') format('woff2'),url('webfonts/3154DA_13_0.woff') format('woff'),url('webfonts/3154DA_13_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd-Obl';src: url('webfonts/3154DA_14_0.eot');src: url('webfonts/3154DA_14_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_14_0.woff2') format('woff2'),url('webfonts/3154DA_14_0.woff') format('woff'),url('webfonts/3154DA_14_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLTStd-Light';src: url('webfonts/3154DA_15_0.eot');src: url('webfonts/3154DA_15_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3154DA_15_0.woff2') format('woff2'),url('webfonts/3154DA_15_0.woff') format('woff'),url('webfonts/3154DA_15_0.ttf') format('truetype');}
 