/*** WebFonts ***/

@font-face {font-family: 'Adelle-Bold';src: url('WebFonts/webfonts/3154DA_0_0.eot');src: url('WebFonts/webfonts/3154DA_0_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_0_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_0_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_0_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-BoldItalic';src: url('WebFonts/webfonts/3154DA_1_0.eot');src: url('WebFonts/webfonts/3154DA_1_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_1_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_1_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_1_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-ExtraBold';src: url('WebFonts/webfonts/3154DA_2_0.eot');src: url('WebFonts/webfonts/3154DA_2_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_2_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_2_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_2_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-ExtraBoldItalic';src: url('WebFonts/webfonts/3154DA_3_0.eot');src: url('WebFonts/webfonts/3154DA_3_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_3_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_3_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_3_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-Heavy';src: url('WebFonts/webfonts/3154DA_4_0.eot');src: url('WebFonts/webfonts/3154DA_4_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_4_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_4_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_4_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-HeavyItalic';src: url('WebFonts/webfonts/3154DA_5_0.eot');src: url('WebFonts/webfonts/3154DA_5_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_5_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_5_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_5_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-Italic';src: url('WebFonts/webfonts/3154DA_6_0.eot');src: url('WebFonts/webfonts/3154DA_6_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_6_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_6_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_6_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-Light';src: url('WebFonts/webfonts/3154DA_7_0.eot');src: url('WebFonts/webfonts/3154DA_7_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_7_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_7_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_7_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-LightItalic';src: url('WebFonts/webfonts/3154DA_8_0.eot');src: url('WebFonts/webfonts/3154DA_8_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_8_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_8_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_8_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-Regular';src: url('WebFonts/webfonts/3154DA_9_0.eot');src: url('WebFonts/webfonts/3154DA_9_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_9_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_9_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_9_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-SemiBold';src: url('WebFonts/WebFonts/webfonts/3154DA_A_0.eot');src: url('WebFonts/webfonts/3154DA_A_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_A_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_A_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_A_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-SemiBoldItalic';src: url('WebFonts/webfonts/3154DA_B_0.eot');src: url('WebFonts/webfonts/3154DA_B_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_B_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_B_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_B_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-Thin';src: url('WebFonts/webfonts/3154DA_C_0.eot');src: url('WebFonts/webfonts/3154DA_C_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_C_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_C_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_C_0.ttf') format('truetype');}

@font-face {font-family: 'Adelle-ThinItalic';src: url('WebFonts/webfonts/3154DA_D_0.eot');src: url('WebFonts/webfonts/3154DA_D_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_D_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_D_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_D_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd-LightObl';src: url('WebFonts/webfonts/3154DA_E_0.eot');src: url('WebFonts/webfonts/3154DA_E_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_E_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_E_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_E_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd-Black';src: url('WebFonts/webfonts/3154DA_F_0.eot');src: url('WebFonts/webfonts/3154DA_F_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_F_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_F_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_F_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd-BoldObl';src: url('WebFonts/webfonts/3154DA_10_0.eot');src: url('WebFonts/webfonts/3154DA_10_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_10_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_10_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_10_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd-Bold';src: url('WebFonts/webfonts/3154DA_11_0.eot');src: url('WebFonts/webfonts/3154DA_11_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_11_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_11_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_11_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd';src: url('WebFonts/webfonts/3154DA_12_0.eot');src: url('WebFonts/webfonts/3154DA_12_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_12_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_12_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_12_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd-BlackObl';src: url('WebFonts/webfonts/3154DA_13_0.eot');src: url('WebFonts/webfonts/3154DA_13_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_13_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_13_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_13_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd-Obl';src: url('WebFonts/webfonts/3154DA_14_0.eot');src: url('WebFonts/webfonts/3154DA_14_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_14_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_14_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_14_0.ttf') format('truetype');}

@font-face {font-family: 'UniversLTStd-Light';src: url('WebFonts/webfonts/3154DA_15_0.eot');src: url('WebFonts/webfonts/3154DA_15_0.eot?#iefix') format('embedded-opentype'),url('WebFonts/webfonts/3154DA_15_0.woff2') format('woff2'),url('WebFonts/webfonts/3154DA_15_0.woff') format('woff'),url('WebFonts/webfonts/3154DA_15_0.ttf') format('truetype');}

.Adelle-Bold {
        font-family: Adelle-Bold;
        font-weight: normal;
        font-style: normal;
}
.Adelle-BoldItalic {
        font-family: Adelle-BoldItalic;
        font-weight: normal;
        font-style: normal;
}
.Adelle-ExtraBold {
        font-family: Adelle-ExtraBold;
        font-weight: normal;
        font-style: normal;
}
.Adelle-ExtraBoldItalic {
        font-family: Adelle-ExtraBoldItalic;
        font-weight: normal;
        font-style: normal;
}
.Adelle-Heavy {
        font-family: Adelle-Heavy;
        font-weight: normal;
        font-style: normal;
}
.Adelle-HeavyItalic {
        font-family: Adelle-HeavyItalic;
        font-weight: normal;
        font-style: normal;
}
.Adelle-Italic {
        font-family: Adelle-Italic;
        font-weight: normal;
        font-style: normal;
}
.Adelle-Light {
        font-family: Adelle-Light;
        font-weight: normal;
        font-style: normal;
}
.Adelle-LightItalic {
        font-family: Adelle-LightItalic;
        font-weight: normal;
        font-style: normal;
}
.Adelle-Regular {
        font-family: 'Adelle-Regular';
        font-weight: normal;
        font-style: normal;
}

.Adelle-SemiBold {
        font-family: 'Adelle-SemiBold';
        font-weight: normal;
        font-style: normal;
}
.Adelle-SemiBoldItalic {
        font-family: Adelle-SemiBoldItalic;
        font-weight: normal;
        font-style: normal;
}
.Adelle-Thin {
        font-family: Adelle-Thin;
        font-weight: normal;
        font-style: normal;
}
.Adelle-ThinItalic {
        font-family: Adelle-ThinItalic;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd-LightObl {
        font-family: UniversLTStd-LightObl;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd-Black {
        font-family: UniversLTStd-Black;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd-BoldObl {
        font-family: UniversLTStd-BoldObl;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd-Bold {
        font-family: UniversLTStd-Bold;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd {
        font-family: UniversLTStd;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd-BlackObl {
        font-family: UniversLTStd-BlackObl;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd-Obl {
        font-family: UniversLTStd-Obl;
        font-weight: normal;
        font-style: normal;
}
.UniversLTStd-Light {
        font-family: UniversLTStd-Light;
        font-weight: normal;
        font-style: normal;
}
