/*** SLIDEIN Menu ***/
#navbar2 .navbar-header {
  float: none;
}

#navbar2 .navbar-toggle {
  display: block;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
  margin-top: 30px;
  margin-bottom: 2px;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 36px;
  height: 7px;
  background-color: #FFFFFF;
}
.navbar-default .navbar-toggle {
  border: none;
}
#menu_button.navbar-toggle {
  display: block;
  margin-right: 0;
  color: #FFFFFF;
}
.navbar-default .navbar-toggle p {
  color: #FFFFFF;
  margin-left: -1px;
  margin-top: 0.24em;
  font-family: Univers;
  font-size: 12px;
}
#navbar2 .navbar-toggle:hover {
    background-color: transparent;
    opacity: 0.7;
}

#navbar2 .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
    font-family: 'Adelle';
    margin-top: 0;
    margin-bottom: 0;
}
#navbar2 .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

#navbar2 .navbar-nav>li {
    float: none;
    border-bottom: 1px solid #434244;
}
#menu-wrapper {
  position: relative;
  right: 0;
  transition: right 0.35s ease;
}
#navbar2 .navbar-collapse {
  position: fixed;
  top: 0;
  right: -35%;
  display: block;
  width: 30%;
  height: 100% !important;
  /*max-height: 100%;*/
  margin: 0;
  background-color: #706f72;
  border-left: 4px solid #434244;
  border-top: none;
  transition: right 0.35s ease;
  padding: 0 18px;
  z-index: 9000;
}
.navbar-nav > li > a {
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 25px;
  margin-bottom: 0;
}
.caret.menu{
  border-top: 10px dashed;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent
}

#navbar2 .navbar-collapse.collapsing {
  transition: right 0.35s ease;
}

#navbar2 .navbar-collapse.in {
  right: 0;
  overflow: auto !important;
}
body.menu-slider.in {
  overflow: hidden;
}

body.menu-slider #menu-wrapper {
  transition: right 0.35s ease;
}

body.menu-slider.in #menu-wrapper {
  right: 30%;
}
.menu-brand {
  height:auto;
  margin-left: -10px;
  border-bottom: 1px solid #434244;
  padding-top: 20px;
  padding-bottom: 20px
}

.menu-brand .close {
    font-size: 35px;
    padding: 30px 0 0 0;
    color: #FFFFFF;
    opacity: 1;
}
.dropdown-menu {
  font-size: 16px;
}
.dropdown-header {
  color: #FFFFFF;
  padding-bottom: 15px !important;
  white-space: pre-wrap;
  font-family: 'Univers';
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
#researchGuides .active > a{
    background-color: #FFFFFF;
  }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
  color: #132531;
  background-color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #132531;
  background-color: #FFFFFF;
}
.navbar-nav .open .dropdown-menu > li {
  padding: 0 0 4px 0;
  color: #FFFFFF;
}
.navbar-nav .open .dropdown-menu > li > a {
  line-height: 20px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #FFFFFF;
  display: inline;
}
.navbar-nav .open .dropdown-menu > li, .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 5px 15px 5px 25px;
}
.navbar-nav .open .dropdown-menu > li > a > img {
  padding: 0px;
  margin: 5px;
}
.navbar-nav .open .dropdown-menu > li > a {
  padding: 0px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
  color: #132531;
  background-color: #FFFFFF;
}
.navbar-default .navbar-nav .open .borrowing-beyond > li {
  padding-bottom: 0;
}
.navbar-default .navbar-nav .open .borrowing-beyond > li > a {
  padding-bottom: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-nav .open .borrowing-beyond > li > a.moreInfo {
  display: inline;
}
@media only screen and (max-width: 375px) {
    .vcenter {
        padding: 0 10px;
    }

    .navbar {
        background-position: center,bottom;
    }

    .navbar-brand {
        margin-top: 25px;
    }

    .navbar-default .navbar-toggle .icon-bar{
        width: 32px;
        height: 5px;
    }

    #navbar2 .navbar-toggle {
        margin-bottom: 0;
        font-size: 8pt;
        padding-bottom: 0;
    }

    #navbar2 .navbar-collapse {
        width: 100%;
        right: -135%;
    }
    .menu-brand .close {
        font-size: 36px;
        padding: 0.6em 0 0 0;
    }
}
