/*** GLOBAL STYLES ***/
.container {
  background-color: #F2EEE2;
  max-width: 1070px;
}

#container {
  padding-left: 43px;
  padding-right: 43px;
}

.recordrow {
  background-color: #FFFFFF;
}

.navbar-toggle {
  display: block;
  color: #FFFFFF;
  margin-top: 30px;
  margin-right: 0;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
  width: 36px;
  height: 7px;
}

.navbar .navbar-toggle p {
  color: #FFFFFF;
  margin-left: -1px;
  margin-top: 0.4em;
  font-size: 12px;
}

.btn-primary {
  background-color: rgb(42,122,113);
  border-color: rgb(42,122,113);
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  padding-top: 30px;
}

/*** STRIPES ***/
.container-stripes {
  background:#fff;
  margin:0 auto;
  position: relative;
  background-color: #F2EEE2;
  border-left:7px solid #E8E6D8;
  border-right:7px solid #E8E6D8;
  padding-left: 28px; /* 28px for stripes, 15 for gutter */
  padding-right: 28px;
}

.container-stripes:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left:7px;
  right:7px;
  border-left:7px solid #E8E6D8;
  border-right:7px solid #E8E6D8;
  pointer-events: none;
  display: block;
}

.container-stripes:after {
  position: absolute;
  content:"";
  top: 0;
  bottom: 0;
  left:21px;
  right:21px;
  border-left:7px solid #E8E6D8;
  border-right:7px solid #E8E6D8;
  pointer-events: none;
  display: block;
}

body {
  color: #808285;
  font-family: UniversLTStd,Arial,Helvetica,sans-serif;
}

body a {
  color: rgb(42,122,113);
}

body a:hover, body a:focus{
  color: #132531;
}

h1, .h1, h2, .h2 {
  color: #132531;
}

h3, .h3{
  color: rgb(42,122,113);
}

/*** HEADER ***/
#header { 
  background-image: url("/assets/images/aspace_header_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} 

.navbar-brand {
  width: 400px;
  height: 122px;
  margin-top: 0;
  background-image: url("/assets/images/TriCo-logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -.05em;
  margin-left: -0.69em;
}

.banner {
  margin: 35px 20px 0 20px;
  margin-bottom: 0px;
  padding: 20px 20px 0 20px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0px;
  border-bottom: 0px;
}

/*** SUBHEADER ***/
.subheader {
  padding: 14px 0 5px 21px;
  font-family: 'Adelle-Semibold';
  font-size: 30px;
  background-color: rgb(42,122,113);
}

.subheader a, .subheader a:focus, .subheader a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.subheader a:focus, .subheader a:hover {
  opacity: 0.7;
}

/*** NAV ***/
.navbar {
  margin-bottom: 0px;
}

#navigation {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding-top: 25px;
}

.navbar-header.top-bar {
  border: none;
  background-color: transparent !important;
}

#collapsemenu {
  text-align: center;
}

#collapsemenu > ul.navbar-nav {
  float:none;
}

#collapsemenu > ul.navbar-nav > li {
  float:none;
  display: inline-block !important;
  background-color: #D6D4C2;
}

#collapsemenu > ul.navbar-nav > li > a {
  color: rgb(42,122,113);
  letter-spacing: 0.05em;
  font-family: Adelle-Regular;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
}

#collapsemenu > ul.navbar-nav > li > a:hover, #collapsemenu > ul.navbar-nav > li > a:focus {
  background-color: rgb(42,122,113);
  color: #FFFFFF;
  text-decoration:none;
}

/*** FOOTER ***/
.panel-footer {
  margin-top: 0px;
  border-top: 0px;
  border-radius: 0px;
  padding-top: 30px;
  padding-bottom: 1rem;
}

.panel-footer .row {
  margin-left: 20px;
}

.footer_header {
  margin-bottom: .25em;
  font-family: UniversLTStd-Bold;
  font-weight: 500;
}

.footer_header a {
  color: #231F20;
}

ul.footer_list {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

ul.footer_list li {
  line-height: 17px;
}

ul.footer_list li a {
  font-size: 12px;
  color: #808285;
}

ul.footer_list li a:hover, ul.footer_list li a:focus {
  color: rgb(42,122,113);
}

#no_padd_right {
  padding-right: 0;
}

#no_padd_left {
  padding-left: 0;
}

/*** SLIDE-IN MENU ***/
.navbar-nav {
  color: #132531;
}

.navbar-nav > li > a {
  color: white;
  font-family: Adelle-Regular;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active,
.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-nav .open .dropdown-menu > li > a:active {
  color: #132531;
  background-color: white;
}

.navbar-nav .open .dropdown-menu > li > a {
  color: white;
  font-family: Adelle-Regular;
  padding: 5px 15px 9px 25px;
}

.navbar-nav .open .dropdown-menu > li {
  font-family: 'UniversLTStd';
  padding: 0 0 0 0;
}
.navbar-nav .open .borrowing-beyond > li > a {
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-nav .open .borrowing-beyond > li > a.moreInfo {
    display: inline;
}

/*** RECORD PAGES ***/
#whats-in-container {
  background-color: white;
}

.tabbing.nav-pills > li > a.active {
  background-color: rgb(42,122,113);
  opacity: 1;
}

.tabbing.nav-pills > li > a {
  background-color: rgb(42,122,113);
  opacity: 0.75;
  margin-left: -2px;
  margin-bottom: 15px
}

.tabbing.nav-pills > li.disabled > a:hover, .tabbing.nav-pills > li.disabled > a:focus {
  background-color: rgb(42,122,113);
  opacity: 1;
  color: #FFFFFF;
}
