<div class="panel-footer container-fluid container-stripes">
  <div class="row">
    <div class="col-sm-5" id="no_padd_left">
      <img src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="trico lib" />
    </div>
    <div class="col-sm-7">
      <div class="row">
	<div class="col-xs-12 col-sm-4">
	  <h5 class="footer_header">
            <a href="https://www.brynmawr.edu/lits/libraries-and-collections" target="_blank">
              Bryn Mawr College Special Collections
            </a>
	  </h5>
	</div>
	<div class="col-xs-12 col-sm-4">
	  <h5 class="footer_header">
            <a href="https://www.haverford.edu/library/quaker-special-collections" target="_blank">
              Haverford College Quaker &amp; Special Collections
            </a>
	  </h5>
	</div>    
	<div class="col-xs-12 col-sm-4" id="no_padd_right">
	  <h5 class="footer_header">
            <a href="https://www.swarthmore.edu/libraries/libraries-collections" target="_blank">
              Swarthmore College Libraries
            </a>
	  </h5>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12 col-sm-4">
	  <div>
	    <a href="mailto:speccoll@brynmawr.edu" target="_blank">Contact Us</a>
	  </div>
	</div>
	<div class="col-xs-12 col-sm-4">
	  <div>
	    <a href="mailto:hc-special@haverford.edu" target="_blank">Contact Us</a>
	  </div>
	</div>
	<div class="col-xs-12 col-sm-4">
	  <div>
	    <a href="mailto:librarian@swarthmore.edu" target="_blank">Contact Us</a>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
