<%= stylesheet_link_tag "#{@base_url}/assets/css/trico.css" %>
<div class="row" id="trico_header">
<section>
  <div class="col-xs-12">
    <a title="Archives & Manuscripts homepage" href="/" class="center-block">
      <img id="trico_header_image" src="/assets/images/ASpace_PUI_Header.png" alt="Header image" class="center-block">
    </a>
  </div>
</section>
</div>
