<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" style="background-color:#706f72;">
  <div class="nav navbar-nav menu-brand">
    <div class="col-xs-8 col-sm-10">
      <a href="#"><img src="/assets/images/TriCo-White-Menu.png" alt="tripod" /></a>
    </div>
    <div class="col-xs-4 col-sm-2">
      <a href="#" class="close" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li class="dropdown" id="tripodDropdown">
      <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Tripod <span class="pull-right"><span class="caret menu"></span></span></a>
      <ul class="dropdown-menu" role="menu">
        <li>Tripod Catalog 
	  <a href="https://tripod.brynmawr.edu" target="_blank"><img src="/assets/images/bmc.gif" /></a>
	  <a href="https://tripod.haverford.edu" target="_blank"><img src="/assets/images/hc.gif" /></a>
	  <a href="https://tripod.swarthmore.edu" target="_blank"><img src="/assets/images/sc.gif" /></a>
	</li>
        <li>My Account 
	  <a href="https://tripod.brynmawr.edu/discovery/account?vid=01TRI_INST:BMC&section=overview&lang=en" target="_blank"><img src="/assets/images/bmc.gif" /></a>
	  <a href="https://tripod.haverford.edu/discovery/account?vid=01TRI_INST:HC&section=overview&lang=en" target="_blank"><img src="/assets/images/hc.gif" /></a>
	  <a href="https://tripod.swarthmore.edu/discovery/account?vid=01TRI_INST:SC&section=overview&lang=en" target="_blank"><img src="/assets/images/sc.gif" /></a>
	</li>
        <li>Course Reserves
	  <a href="https://tripod.brynmawr.edu/discovery/search?query=any,contains,%3F&tab=CourseReserves&search_scope=CourseReserves&vid=01TRI_INST:BMC&offset=0" target="_blank"><img src="/assets/images/bmc.gif" /></a>
          <a href="https://tripod.haverford.edu/discovery/search?query=any,contains,%3F&tab=CourseReserves&search_scope=CourseReserves&vid=01TRI_INST:HC&offset=0" target="_blank"><img src="/assets/images/hc.gif" /></a>                
	  <a href="https://tripod.swarthmore.edu/discovery/search?query=any,contains,%3F&tab=CourseReserves&search_scope=CourseReserves&vid=01TRI_INST:SC&offset=0" target="_blank"><img src="/assets/images/sc.gif" /></a>
	</li>       
      </ul>
    </li>
    <li id="researchGuides"><a href="https://guides.tricolib.brynmawr.edu">Research Guides</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archives &amp; Manuscripts <span class="pull-right"><span class="caret menu"></span></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="https://archives.tricolib.brynmawr.edu" target="_blank">At the Libraries</a></li>
        <li><a href="https://images.tricolib.brynmawr.edu" target="_blank">Online</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore Other Collections <span class="pull-right"><span class="caret menu"></span></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="http://web.tricolib.brynmawr.edu/trico/primo-menu/special_collections.php" target="_blank">Special Collections Libraries</a></li>
        <li><a href="https://scholarship.tricolib.brynmawr.edu" target="_blank">Institutional Scholarship</a></li>
        <li><a href="https://triarte.brynmawr.edu/" target="_blank">Art &amp; Artifacts</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Borrowing Beyond TriCo <span class="pull-right"><span class="caret menu"></span></span></a>
      <ul class="dropdown-menu borrowing-beyond" role="menu">
        <li>E-ZBorrow
	  <a href="https://ezb.relaisd2d.com/?LS=BRYN" target="_blank"><img src="/assets/images/bmc.gif" /></a>
          <a href="https://ezb.relaisd2d.com/?LS=HVFD" target="_blank"><img src="/assets/images/hc.gif" /></a>
          <a href="https://ezb.relaisd2d.com/?LS=SWARTH" target="_blank"><img src="/assets/images/sc.gif" /></a>
	</li>
        <li class="dropdown-header">(2-5 days) Directly request books from regional academic libraries</li>
        <li>Interlibrary Loan
          <a href="https://brynmawr.illiad.oclc.org/illiad/" target="_blank"><img src="/assets/images/bmc.gif" /></a>
          <a href="https://haverford.cliohosting.com/NewRequest/Create?reqtype=Loan" target="_blank"><img src="/assets/images/hc.gif" /></a>
          <a href="https://swarthmore.cliohosting.com/NewRequest/Create?reqtype=Loan" target="_blank"><img src="/assets/images/sc.gif" /></a>
	</li>
        <li class="dropdown-header">(2-14 days) Request books (and more) not available in Tripod or EZBorrow</li>
        <li>Article Requests
          <a href="https://brynmawr.illiad.oclc.org/illiad/" target="_blank"><img src="/assets/images/bmc.gif" /></a>
          <a href="https://haverford.cliohosting.com/NewRequest/Create?reqtype=Copy" target="_blank"><img src="/assets/images/hc.gif" /></a>
          <a href="https://swarthmore.cliohosting.com/NewRequest/Create?reqtype=Copy" target="_blank"><img src="/assets/images/sc.gif" /></a>

	</li>
        <li class="dropdown-header">(1-10 days) Request journal articles not available in Tripod</li>
        <li class="divider"></li>
        <li class="dropdown-header">For more info: </li>
        <li><a class="moreInfo" href="https://www.brynmawr.edu/library/CirculationAccessPolicies.html#ill" target="_blank">Bryn Mawr</a> | <a class="moreInfo" href="https://www.haverford.edu/library/services#borrowing-beyond-trico" target="_blank">Haverford</a> | <a class="moreInfo" href="https://www.swarthmore.edu/libraries/borrowing-beyond-trico" target="_blank">Swarthmore</a><br /><br /></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Off Campus Access <span class="pull-right"><span class="caret menu"></span></span></a>
      <ul class="dropdown-menu" role="menu">
        <li>
	  <a href="https://proxy.brynmawr.edu/login?url=https://tripod.brynmawr.edu" target="_blank"><img src="/assets/images/bmc.gif" /></a>
          <a href="https://ezproxy.haverford.edu/login?url=https://tripod.haverford.edu" target="_blank"><img src="/assets/images/hc.gif" /></a>
          <a href="https://proxy.swarthmore.edu/login?url=https://tripod.swarthmore.edu" target="_blank"><img src="/assets/images/sc.gif" /></a>
	</li>
      </ul>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
