<!DOCTYPE html>
<html lang="<%= AppConfig[:locale] %>">
<head>
	<title><%=  (@page_title.blank? ? '' : "#{strip_mixed_content(@page_title)} | ") %><%= t('brand.title') %></title>
	<%= csrf_meta_tags %>
<%# block cross-origin refer per https://go-to-hellman.blogspot.com/2015/06/protect-reader-privacy-with-referrer.html %>
	<% if AppConfig[:pui_block_referrer] %>
		<meta name="referrer" content="origin-when-cross-origin" />
	<% end %>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script>
	 var APP_PATH = '<%= PrefixHelper.app_prefix("") %>';
	</script>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

        <%= render partial: 'shared/metadata' %>

	<% ASUtils.find_local_directories('public/views/layout_head.html.erb').each do |template| %>
		<% if File.exists?(template) %>
			<!-- Begin plugin layout -->
			<%= render :file => template %>
			<!-- End plugin layout -->
		<% end %>
	<% end %>
</head>

<body ng-app="slider"  class="menu-slider" id="menu-wrapper">
	<%= render partial: 'shared/skipnav' %>

	<div class="container no-pad">
		<%= render partial: 'shared/header' %>
        </div>
        <div class="container container-stripes no-pad">
        	<div class="subheader">
        		<a href="/" title="Archivesspace Home">Archives &amp; Manuscripts</a>

        	</div>
		<%= render partial: 'shared/navigation' %>
	</div>

	<section id="container" class="container container-stripes">
		<a name="maincontent" id="maincontent"></a>
		<%= flash_messages %>
		<%= yield %>
	</section>

	<script  type="text/javascript" >
		$(".upper-record-details .note-content").each(function(index, element){$(this).readmore(<%= AppConfig[:pui_readmore_max_characters] %>)});
	</script>

	<%= render partial: 'shared/footer' %>

	<% if AppConfig[:pui_enable_staff_link] %>
		<% if AppConfig.has_key?(:frontend_proxy_url) && defined?(@result) && @result.respond_to?(:uri) %>
			<script>
				FRONTEND_URL = "<%= j(AppConfig[:frontend_proxy_url]) %>";
				RECORD_URI = "<%= j(@result.uri) %>";
			</script>
		<% end %>
	<% end %>

</body>
</html>
