<div class="panel-footer container container-stripes">
  <div class="row">
  <div class="col-sm-5" id="no_padd_left">
    <a href="catalog.tricolib.brynmawr.edu" title="Tripod Home"><img src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="tripod home" /></a>
  </div>
  <div class="col-sm-7">
    <div class="col-xs-12 col-sm-4">
      <h5 class="footer_header">
        <a href="http://www.brynmawr.edu/library/index.html" target="_blank">
          Bryn Mawr Libraries
        </a>
      </h5>
      <ul class="footer_list">
        <li><a href="http://moodle.brynmawr.edu/" target="_blank">Moodle</a></li>
        <li><a href="http://catalog.tricolib.brynmawr.edu/search/r" target="_blank">Reserves</a></li>
        <li><a href="http://www.brynmawr.edu/library/elecref.html" target="_blank">Ask a Librarian</a></li>
        <li><a href="http://www.brynmawr.edu/is/hours.html" target="_blank">Library Hours</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h5 class="footer_header">
        <a href="http://www.haverford.edu/library/" target="_blank">
          Haverford Libraries
        </a>
      </h5>
      <ul class="footer_list">
        <li><a href="http://moodle.haverford.edu/" target="_blank">Moodle</a></li>
        <li><a href="http://catalog.tricolib.brynmawr.edu/search/r" target="_blank">Reserves</a></li>
        <li><a href="http://www.haverford.edu/library/ask_a_librarian.php" target="_blank">Ask a Librarian</a></li>
        <li><a href="http://library.haverford.edu/hours" target="_blank">Library Hours</a></li>
      </ul>
    </div>    
    <div class="col-xs-12 col-sm-4" id="no_padd_right">
      <h5 class="footer_header">
        <a href="http://www.swarthmore.edu/library.xml" target="_blank">
          Swarthmore Libraries
        </a>
     </h5>
     <ul class="footer_list">
        <li><a href="http://moodle.swarthmore.edu/" target="_blank">Moodle</a></li>
        <li><a href="http://catalog.tricolib.brynmawr.edu/search/r" target="_blank">Reserves</a></li>
        <li><a href="http://www.swarthmore.edu/askalibrarian.xml" target="_blank">Ask a Librarian</a></li>
        <li><a href="http://www.swarthmore.edu/libraryhours.xml" target="_blank">Library Hours</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
