<section  id="header" class="container">
  <div class="banner navbar" id="navbar2">
    <a class="navbar-brand" title="<%=t('brand.title_link_text') %>" href="#" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <p>MENU</p>
      </button>
  <div ng-include="'/assets/slider.html'"></div>
  </div>
<!--  <div class="row">
    <div class="col-sm-9 h1"><% unless request.original_fullpath == '/' %>
        <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>"><% end %> <%= t('brand.title') %><% unless request.original_fullpath == '/' %></a><% end %> </div>
    <div class="col-sm-3 hidden-xs"><img class="logo" src="<%= asset_url(AppConfig[:pui_branding_img]) %>" alt="" /></div>
  </div>
-->
</section>
