<%= stylesheet_link_tag "#{@base_url}/assets/css/fonts_trico.css" %>
<%= stylesheet_link_tag "/assets/css/slide-in-demo.css" %>
<%= stylesheet_link_tag "#{@base_url}/assets/css/styles_trico.css" %>
<link href="/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
  var app = angular.module('slider', [])

  app.config(function($sceDelegateProvider) {
    $sceDelegateProvider.resourceUrlWhitelist([
      'self',
      '/assets/slider.html'
    ]);
  });
</script>

  <script>
  $( document ).on( "show.bs.collapse", "#bs-example-navbar-collapse-2", function() {
     $('body').addClass('menu-slider');
  });
  $( document ).on( "shown.bs.collapse", "#bs-example-navbar-collapse-2", function() {
     $('body').addClass('in');
  });
  $( document ).on( "shown.bs.collapse", "#bs-example-navbar-collapse-2", function() {
     $('#researchGuides').addClass("active");
  });
  $( document ).on( "hide.bs.collapse", "#bs-example-navbar-collapse-2", function() {
     $('body').removeClass('menu-slider');
  });
  $( document ).on( "hidden.bs.collapse", "#bs-example-navbar-collapse-2", function() {
     $('body').removeClass('in');
  });

  </script>

<script>

(function ($) {

    'use strict';

    // Toggle classes in body for syncing sliding animation with other elements
    $('#bs-example-navbar-collapse-2')
        .on('show.bs.collapse', function (e) {
            $('body').addClass('menu-slider');
        })
        .on('shown.bs.collapse', function (e) {
            $('body').addClass('in');
        })
        .on('shown.bs.collapse', function (e) {
            $('#tripodDropdown').toggleClass("open");
        })
        .on('hide.bs.collapse', function (e) {
            $('body').removeClass('menu-slider');
        })
        .on('hidden.bs.collapse', function (e) {
            $('body').removeClass('in');
        });

})(jQuery);
</script>
<script type="text/javascript" >
    $( function() { $( "select#limit >option[value='digital_object']" ).remove(); });
</script>
